body {
    font-family: 'Roboto Mono', monospace;
    
}
.conteiner {
    height: 100vh;
    overflow: hidden;
    background-color: #41bcbe;
    width: 100vw;
}
.window {

}
.splitter {

}
.inputs {

}
.bill {

}
.input-bill {

}
.select-tip {

}
.btn {

}
.custom-input 

.num-people {

}
.num-of-people {

}
.results {

}
.tip-amount-per-person {

}
.btn-reset {

}